
body{
  font-family: 'Poppins';

}

h1{
  font-weight: 100;
  text-align: center;
}

label{
  font-weight: 400;
  margin: 15px 0px;
}

button{
  font-weight: 100;
}

@media (min-width: 1200px){
  .container-md{
    width: 50%;
  }
}

